body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f0f0f0;
  color: #222;
}

h1 {
  background: #007BFF;
  color: white;
  padding: 10px;
  border-radius: 8px;
}

.contenedor {
  margin: 15px;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background: #007BFF;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 90%;
}

th, td {
  padding: 10px;
  border: 1px solid #aaa;
}

th {
  background: #007BFF;
  color: white;
}
